<?xml version="1.0" encoding="UTF-8"?>
<!--<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >-->
<!DOCTYPE log4j:configuration SYSTEM
        "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration debug="true">
    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p: %c %L - %m%n"/>
        </layout>
    </appender>
    <appender name="fileDaily" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="logs/jasslin_system.log"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p: %c %L - %m%n"/>
        </layout>
    </appender>
    <root>
        <priority value="info"/>
        <appender-ref ref="console"/>
        <appender-ref ref="fileDaily"/>
    </root>
</log4j:configuration>